In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv('files/castgenre.csv')

In [3]:
genre_input = input('Enter a genre: ')
a1 = df[df['Genre 1'] == genre_input.capitalize()]
a2 = df[df['Genre 2'] == genre_input.capitalize()]
a3 = df[df['Genre 3'] == genre_input.capitalize()]
c = a1.append(a2, ignore_index=True).append(a3, ignore_index=True)

In [4]:
actors = c['actors']
x = []
for i in range(len(actors)):
    a = str(actors[i]).split('|')
    a = [z.strip() for z in a]
    x.append(a)
te = TransactionEncoder()
te = te.fit(x)
te_ary = te.transform(x)
df = pd.DataFrame(te_ary,columns=te.columns_)
frequent_itemsets = apriori(df, min_support =0.0015,use_colnames=True)

In [5]:
rules = association_rules(frequent_itemsets,metric='confidence',min_threshold=0.01)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Dev Anand),(A.K. Hangal),0.002237,0.002237,0.002237,1.000000,447.0,0.002232,inf
1,(A.K. Hangal),(Dev Anand),0.002237,0.002237,0.002237,1.000000,447.0,0.002232,inf
2,(A.K. Hangal),(Milind Gunaji),0.002237,0.004474,0.002237,1.000000,223.5,0.002227,inf
3,(Milind Gunaji),(A.K. Hangal),0.004474,0.002237,0.002237,0.500000,223.5,0.002227,1.995526
4,(A.K. Hangal),(Prem Chopra),0.002237,0.011186,0.002237,1.000000,89.4,0.002212,inf
...,...,...,...,...,...,...,...,...,...
21751,"(Vatsal Seth, Yuvika Chaudhry)","(Tabu, Sharman Joshi)",0.002237,0.002237,0.002237,1.000000,447.0,0.002232,inf
21752,(Tabu),"(Vatsal Seth, Sharman Joshi, Yuvika Chaudhry)",0.006711,0.002237,0.002237,0.333333,149.0,0.002222,1.496644
21753,(Sharman Joshi),"(Tabu, Vatsal Seth, Yuvika Chaudhry)",0.022371,0.002237,0.002237,0.100000,44.7,0.002187,1.108625
21754,(Yuvika Chaudhry),"(Tabu, Sharman Joshi, Vatsal Seth)",0.004474,0.002237,0.002237,0.500000,223.5,0.002227,1.995526
21755,(Vatsal Seth),"(Tabu, Sharman Joshi, Yuvika Chaudhry)",0.006711,0.002237,0.002237,0.333333,149.0,0.002222,1.496644

In [9]:
rules[rules['antecedents'].apply(lambda x:set(['Saif Ali Khan']).issubset(x))]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
30,(Saif Ali Khan),(Aamir Khan),0.035794,0.006711,0.002237,0.062500,9.312500,0.001997,1.059508
316,(Saif Ali Khan),(Aftab Shivdasani),0.035794,0.029083,0.002237,0.062500,2.149038,0.001196,1.035645
440,(Saif Ali Khan),(Akshat Chopra),0.035794,0.002237,0.002237,0.062500,27.937500,0.002157,1.064280
542,(Saif Ali Khan),(Akshay Kumar),0.035794,0.069351,0.002237,0.062500,0.901210,-0.000245,0.992692
598,(Saif Ali Khan),(Akshaye Khanna),0.035794,0.013423,0.002237,0.062500,4.656250,0.001757,1.052349
...,...,...,...,...,...,...,...,...,...
21296,"(Saif Ali Khan, Mayank Amin, Rani Mukerji)",(Vic Aviles),0.002237,0.002237,0.002237,1.000000,447.000000,0.002232,inf
21298,"(Saif Ali Khan, Vic Aviles)","(Rani Mukerji, Mayank Amin)",0.002237,0.002237,0.002237,1.000000,447.000000,0.002232,inf
21299,"(Saif Ali Khan, Mayank Amin)","(Rani Mukerji, Vic Aviles)",0.002237,0.002237,0.002237,1.000000,447.000000,0.002232,inf
21300,"(Saif Ali Khan, Rani Mukerji)","(Vic Aviles, Mayank Amin)",0.006711,0.002237,0.002237,0.333333,149.000000,0.002222,1.496644
21304,(Saif Ali Khan),"(Rani Mukerji, Vic Aviles, Mayank Amin)",0.035794,0.002237,0.002237,0.062500,27.937500,0.002157,1.064280

In [11]:
frequent_itemsets.to_csv('files/newresultapriori.csv')